<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ol>
        <%= button_to 'Destinations', destinations_path, method: :get %>
        <%= button_to 'Bloggers', bloggers_path, method: :get %> 
    <%= yield %>
  </body>
</html>
